/*
body {
    background-image: url("/static/images/world_map.jpg");
}
*/

.cent-titleA {
    text-align: center;
    font-family:'Courier New', 'Courier', "monospace";
    font-size: 100px;
}

.cent-titleB {
    text-align: center;
    font-family:'Courier New', 'Courier', "monospace";
    font-size: 75px;
}

.login-box {
    height: 400px;
    width: 30%;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    background-color: aquamarine;
    margin: auto;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position:relative;
    z-index: 9;
}

.sign-in-center {
    text-align: center;
}

.bingbong {
    width: 100px;
    height: 100px;
    background-color: red;
    position:absolute;
    top: 10%;
    right: 10%;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
 }
  
 @keyframes example {
    0%   {background-color:red; left:10%; top:1%;}
    25%  {background-color:yellow; left:90%; top:1%;}
    50%  {background-color:blue; left:90%; top:90%;}
    75%  {background-color:green; left:10%; top:90%;}
    100% {background-color:red; left:10%; top:1%;}
}

.flag-left {
    height:150px; 
    width:200px; 
    position:absolute; 
    left:50px; 
    top: 45%;
    animation-name: lefty;
    animation-duration: 3s;
    z-index: 0;
}

.flag-right {
    height:150px; 
    width:200px; 
    position:absolute; 
    right:50px; 
    top: 45%;
    animation-name: righty;
    animation-duration: 3s;
    z-index: 0;
}

@keyframes lefty {
    0%   {left:50px;}
    100%  {left: 50%;}
}

@keyframes righty {
    0%   {right:50px;}
    100%  {right: 50%;}
}