<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        h1 {text-align: center; color: white;}
        h4 {text-align: center; color: white;}
        p {text-align: center; color: white;}
        div {text-align: center;}
    </style>
</head>

<body style="height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../static/images/world_map.jpg);
            background-position: center;
            background-size: cover;
            overflow-x:hidden;
            position: relative;">

    <div class="nav-bar">
        <div class="hilo-logo">
            <img src="../static/images/Higher_Or_Lower_logo.webp"  width="200" height="125" >
        </div>
        <div class="nav-links" id="nav-links">
            <i class="fa fa-close" onclick="closeMenu()"></i>
            <li>
                <!-- if you could please sort this button nik by changing the colour-->
                <button class = "return_button" id= "r_btn" onclick="window.location.href='{{ url_for('index') }}';"> RETURN TO HOME</button>
            </li>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </div>
    
    <div class="about-section" >
        <h1>About</h1>
        <p>
            Building off upon the famous Higher and Lower Game, our team of developers have created a new edition based upon the various city populations all over the world.
        </p>
        <h1>Preface</h1>
        <p>1. Register above if your a new user or simply login.</p>
        <p>2. Select the difficulty you wish to play at by hovering over the "PLAY" button in the navigation bar above</p>
        <p>3. Begin Playing!</p>
        </p>

        <h1>How To Play</h1>
        <p>
            The rules of the game are simple. You will be shown two cities. You just have to decide whether the second city's population is either higher or lower than the first city.
            As you progress through the game, you will be shown a new city. Choose higher or lower to decide whether it is searched for more or less than the previous city.
            If you ever are unsure of the city population, you have the option to skipping the city  (You only get 3 skips). The objective is to get the most correct answers in a row.
            If you get one incorrectly, you lose the game.
        </p>

        <h4>The population data is based on the most recent censuses for each country globally.</h4>

        <h1 style="padding-top: 50px;">Developers</h1>
        <p>
            Jacob Arto -- Luke Griffiths -- Hassan Ahmed -- Nikola Gopcevic
        </p>

    </div>

</body>
</html>