<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
    <script>
        $(document).ready(function(){
            let x = 0
            $("#Higher_Button").click(function(){
                if ($("#num_1").text() <= $("#num_2").text()) {
                    x += 1
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = document.getElementById("num_2").innerHTML;
                }
                document.getElementById("num_2").innerHTML = Math.floor(Math.random() * 10) + 1;
            });
            $("#Lower_Button").click(function(){
                if ($("#num_1").text() >= $("#num_2").text()) {
                    x += 1
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = document.getElementById("num_2").innerHTML;
                }
                document.getElementById("num_2").innerHTML = Math.floor(Math.random() * 10) + 1;
            });
        });
    </script>
</head>
<body style="background-color:rgb(63, 59, 59)">
    <h1>
        This will be where the game goes
    </h1>
    <p>So this is the end</p>
    <h1 id="num_1" style="font-size: 40px;">5</h1>
    <h1 id="num_2" style="font-size: 40px;">7</h1>
    <h1 id="count" style="font-size: 40px;">0</h1>


    <button id="Higher_Button">Higher</button>
    <button id="Lower_Button">Lower</button>
    <div class="col-sm-5" id="city_1">---------------------</div>
    <div class="col-sm-5" id="city_2">---------------------</div>
</body>
</html>