<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/purple_icon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Higher Or Lower Game</title>
</head>

<body>
    
    <div>
        <div class="nav-bar">
            <div class="hilo-logo">
                <img src="../static/images/Higher_Or_Lower_logo.webp">
            </div>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-close" onclick="closeMenu()"></i>
                <ul>
                    <a href="{{ url_for('index') }}"><li>HOME</li></a>
                    <a href="{{ url_for('gaming') }}"><li>PLAY</li></a>
                    <a href="#"><li>LEADERBOARDS</li></a>
                </ul>
                <button type="button" class="btn">LOGIN</button>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
        <div class="banner-title">
            <h1>The Higher or Lower Game.<br><span>Cities Edition.</span></h1>
            <button type="button" class="btn">SOME BUTTON</button>
        </div>
        <div class="vertical-bar">
            <div class="search-icon">
                <i class="fa fa-th-list"></i>
                <i class="fa fa-search"></i>
            </div>
            <div class="social-icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest"></i>
            </div>
        </div>
        <div class="notifications">
            <div class="contents">
                <small>COUNTRY OF THE DAY!</small>
            </div>
            <div class="notification-img">
                <img src="../static/images/4x3/ad.svg"
            </div>
        </div>
    </div>

    <script>
    var show = document.getElementById("nav-links");
    function showMenu() {
        show.style.right = "0";
    }
    function closeMenu() {
        show.style.right = "-200px";
    }
    </script>
    
    <!--
        <div class="col-sm-2" id="leaderboard" style="color:white; border-style: solid; border-color: white">
        <p>This is going to be the div for leaderboard</p>
    </div>
    -->

    <!--
    <div class="login-box">
        {% block content %}{% endblock %}
    </div>

    <div class="bingbong">

    </div>
    -->
    
</body>
</html>