<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
    <script>
        var cities = {{cities()|tojson|safe}}
        var countries = {{countries()|tojson|safe}}
        var populations = {{populations()|tojson|safe}}
        let x = 0
        let y = Math.floor((Math.random() * 501));
        let z = Math.floor((Math.random() * 501));
        let skips = 3
        while (y == z) {
                    z = Math.floor((Math.random() * 501));
        }
        $(document).ready(function(){
            document.getElementById("num_1").innerHTML = cities[y] + ": " + populations[y].toString();
            document.getElementById("num_2").innerHTML = cities[z] + ": ?";
            $("#Higher_Button").click(function(){
                if (populations[y] <= populations[z]) {
                    x += 1
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = cities[z] + ": " + populations[z].toString();
                }
                else {
                    alert("Game over you scored: " + x.toString())
                    x = 0;
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = cities[z] + ": " + populations[z].toString();
                    skips = 3;
                    document.getElementById("Skip").innerHTML = "Skip (" + skips.toString() + " remaining)";
                }
                y = z;
                while (y == z) {
                    z = Math.floor((Math.random() * 501));
                }
                document.getElementById("num_2").innerHTML = cities[z] + ": ?";
            });
            $("#Lower_Button").click(function(){
                if (populations[z] <= populations[y]) {
                    x += 1
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = cities[z] + ": " + populations[z].toString();
                }
                else {
                    alert("Game over you scored: " + x.toString())
                    x = 0;
                    document.getElementById("count").innerHTML = x;
                    document.getElementById("num_1").innerHTML = cities[z] + ": " + populations[z].toString();
                    skips = 3;
                    document.getElementById("Skip").innerHTML = "Skip (" + skips.toString() + " remaining)";
                }
                y = z;
                while (y == z) {
                    z = Math.floor((Math.random() * 501));
                }
                document.getElementById("num_2").innerHTML = cities[z] + ": ?";
            });
            $("#Skip").click(function(){
                if (skips > 0) {
                document.getElementById("num_1").innerHTML = cities[z] + ": " + populations[z].toString();
                y = z;
                while (y == z) {
                    z = Math.floor((Math.random() * cities.length));
                }
                document.getElementById("num_2").innerHTML = cities[z] + ": ?";
                skips = skips - 1;
                document.getElementById("Skip").innerHTML = "Skip (" + skips.toString() + " remaining)";
                }
            });
        });
    </script>
</head>
<body style="background-color:rgb(63, 59, 59)">
    <h1>
        This will be where the game goes
    </h1>
    <p>So this is the end</p>
    <h1 id="num_1" style="font-size: 40px;"></h1>
    <h1 id="num_2" style="font-size: 40px;"></h1>
    <h1 id="count" style="font-size: 40px;">0</h1>


    <button id="Higher_Button">Higher</button>
    <button id="Lower_Button">Lower</button>
    <button id="Skip">Skip (3 remaining)</button>
    <div class="col-sm-5" id="city_1">---------------------</div>
    <div class="col-sm-5" id="city_2">---------------------</div>
</body>
</html>